<div>
  <div class="label-pair">
    <label for="csvImportRecordType">DataSource Type</label>
    <select
      id="csvImportRecordType"
      class="form-control"
      (ngModel)="(dataSourceType)"
      (change)="onDataSourceTypeChange($event.target.value)"
    >
      <option value="cors-csv">CORS</option>
    </select>
  </div>

  <div class="label-pair">
    <label for="csvImportRecordType">Record Type</label>
    <select
      id="csvImportRecordType"
      class="form-control"
      (ngModel)="(recordType)"
      (change)="onRecordTypeChange($event.target.value)"
    >
      <option value="AdministrativeSanction">Administrative Sanctions</option>
      <option value="CourtConviction">Court Convictions</option>
      <option value="Ticket">Tickets</option>
    </select>
  </div>

  <div class="label-pair">
    <label>CSV File</label>
    <app-file-upload
      [maxFiles]="1"
      [maxSize]="20"
      [fileExt]="['csv']"
      [showInfo]="false"
      [showList]="false"
      [files]="csvFiles"
      (filesChange)="onFileChange($event)"
    ></app-file-upload>
  </div>

  <ng-container *ngIf="csvFiles[0]">
    <div>
      <span class="cell name" [title]="csvFiles[0].name || ''">
        <span class="cell__txt-content">{{ csvFiles[0].name }}</span>
      </span>
      <span class="cell actions">
        <button class="btn btn-icon" type="button" title="Delete this document" (click)="onFileDelete(csvFiles[0])">
          <i class="material-icons">delete</i>
        </button>
      </span>
    </div>
  </ng-container>

  <div class="mt-4">
    <button class="btn btn-primary" type="button" (click)="startJob()">Import Records</button>
  </div>
</div>
